body
{
  background-color:#FFFFFF;
}

html { 
  background: url(../img/rossiandstoner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#backhome {
  width: 200px;
  height: 20px;
  background-color: #808080;
  border-radius: 5px;
  padding: 10px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

#errortext {
  margin-top: 100px;
}