.mewrapper {
	margin: 10px 10px 10px 30px;
	float: left;
}
.container {
	width: 900px; 
	margin: 0 auto; 
}

.header {
	background-color: #535363;
	width: 800px;
	opacity: 0.95;
	float: left;
	border-radius: 5px;
}
img {
	margin-top: 5px;
	border-radius: 5px;
	/*box-shadow: 2px 5px #888888;*/
}

a:link {
	text-decoration: none;
	color: #CCCCCC;
}

a:visited {
	text-decoration: none;
	color: #CCCCCC;
}

a:active {
	text-decoration: none;
	color: #CCCCCC;
}

a:hover {
	background-color: #E6E6E6;
	color: #CCCCCC;
}

.footer p {
	text-align: center;
	padding-top: 20px;
}

.sitetitle {
	color: #E6E6E6;
}

.sitedesc {
	color: #CCCCCC;
}

em {
	color:#E6E6E6;
}

.maincontent {
	clear: both;
	background-color: #535363;
	opacity: 0.95;
	color: #CCCCCC;
	width: 740px;
	padding: 30px;
	border-radius: 5px;
	/*Save box shadow in case I change my mind*/
	/*box-shadow: 2px 5px #888888;*/
}

.footer {
	margin-top: -10px;
	background-color: #1C1C1E;
	color: #CCCCCC;
	opacity: 0.95;
	width: 800px;
	height: 60px;
	border-radius: 5px;
}

.header li {
	float: right;
	list-style-type: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: large;
}

body {
	font-family: Tahoma;
	background-color: #535363;
	background-image: url("../images/muirwoods.jpg");
	background-size: 100%;
}