
body {
	font-family: 'Montserrat', sans-serif;
}

header {
	width: 100%;
	background-color: #3A4452;
	height: 140px;
}

section {
	width:100%;
	clear: both;
}

#social {
	font-size: xx-large;
	margin-top: .1em;
}
@media screen and (max-width: 633px) {

	#logowrapper {
		font-size: 2em;
		color: #F2F3F4;
		float: left;
		background-color: #679971;
		margin-top: 20px;
		padding: .8em 0em .8em .8em;
		width: 60%;
		box-shadow: 5px 5px 1px #A9C670;
		text-shadow: 0px 2px 3px #555;
	}	
	article {
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		left: 2em;
		width: 80%;
		border-style: solid;
		border-color: #80A735;
		border-width: .5em;
		background-color: #F2F3F4;
		float: left;
	}

	.content {
		float:left;
		padding: 2em;
		width: 80%;
	}

	aside {
		background-color: #F2F3F4;
		border-width: .5em;
		border-style: solid;
		border-color: #A9C670;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 1em;
		left: 2em;
		position: relative;
		float:left;
		width: 73%;
	}
}
@media screen and (min-width: 633px) {
	
	#logowrapper {
		font-size: 2em;
		color: #F2F3F4;
		float: left;
		background-color: #679971;
		margin-top: 20px;
		padding: .8em 0em .8em .8em;
		width: 40%;
		box-shadow: 5px 5px 1px #A9C670;
		text-shadow: 0px 2px 3px #555;
	}	

	article {
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		left: 2em;
		width: 55%;
		border-style: solid;
		border-color: #80A735;
		border-width: .5em;
		background-color: #F2F3F4;
		float: left;
	}
	.content {
		position:relative;
		margin-left:4em;
		padding: 2em;
		width: 75%;
	}
	aside {
		background-color: #F2F3F4;
		border-width: .5em;
		border-style: solid;
		border-color: #A9C670;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 1em;
		left: 3em;
		position: relative;
		float:left;
		width: 25%;
	}
}
h3 {
	font-size: x-large;
	padding-bottom: 1em;
}
.content img {
	float:left;
	padding-right: 1em;
	padding-bottom: 1em;
}

@media screen and (max-width: 1363px) {
	.date {
		text-align: center;
		padding: 1em;
		font-size: x-large;
		position: relative;
		top: 20px;
		right: 30px;
		background-color: #3A4452;
		float:left;
		color: #F2F3F4;
	}
}

@media screen and (min-width: 1363px) {
	.date {
		text-align: center;
		padding: 1em;
		font-size: x-large;
		position: relative;
		top: 40px;
		right: 30px;
		background-color: #3A4452;
		float:left;
		color: #F2F3F4;
	}
}

@media screen and (min-width:1040px) {

	a:link {
		text-decoration: none;
		color: #F2F3F4;
	}

	a:visited {
		text-decoration: none;
		color: #F2F3F4;
	}
	
	a:hover {
		color: #679971;
	}

	a:active {
		text-decoration: none;
		color: #F2F3F4;
	}
}

@media screen and (max-width:1040px) {

	a:link {
		text-decoration: none;
		color: #000;
	}

	a:visited {
		text-decoration: none;
		color: #000;
	}

	a:hover {
		color: #679971;
	}

	a:active {
		text-decoration: none;
		color: #000;
	}
}

nav {
	margin-top: 20px;
	float: right;
}
ul {
	margin-right: 5em;
}
li {
	list-style-type: none;
	padding-left: 2em;
	padding-right: 2em;
	display: inline;
	font-size: large;
}

footer {
	background-color: #3A4452;
	height: 30px;
	padding:2em;
	text-align: center;
	clear:both;
	color:#F2F3F4;
	font-size: large;
	width: 100%;
}